.header {
    width: calc(100%-250px);
    height: 5vh;
    padding: 20px 40px;
    background-color:  var(--color-purple-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
}

.headerTitle {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text-primary);
}